@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: 'Noto Sans KR', sans-serif;
  color: #2d2d2d;
}

.h-full {
  height: calc(100vh - 50px);
}

.w-100 {
  width: 100%;
  max-width: 600px;
}

#nav {
  background: #FFF;
  border-bottom: #F3F4F8 1px solid;
}

#section1 {
  background: #FFF9F0;
}

.logo img {
  width: 100px;
}

.menu ul li {
  list-style: none;
  float: left;
  margin: auto 30px;
  font-weight: bold;
  cursor: pointer;
}

.menu ul li:hover {
  color: #FFB338;
  transition: 0.3s;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
}

.sub-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 43px;
}

.sub-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.point-text {
  font-size: 18px;
  font-weight: bold;
  color: #FFB338;
  margin-bottom: 14px;
}

.img-box {
  background: #F3F4F8;
  border-radius: 24px;
  min-height: 342px;
}